<h1>Editing User Wishlist</h1>
<div class="project_item">
<%= render 'form', user_wishlist: @user_wishlist %>

<%= link_to 'Show', @user_wishlist %> |
<%= link_to 'Back', user_wishlists_path %>
</div>