<div class="project_item">
<h1>Editing User</h1>
<%= render 'form', user: @user %>

<% if current_user.role %>
	<%= link_to 'Cancel', users_path,  :class => "btn btn-danger" %>
<% else %>
	<%= link_to 'Cancel', @user,  :class => "btn btn-danger" %>
<% end %>
</div>
