<table>
  <thead>
  <tr>
    <th>Options</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to 'User', users_path %></td>
    </tr>
    <tr>
      <td><%= link_to 'Projects', projects_path %></td>
    </tr>
  </tbody>
</table>
