<head>
  <h1  align="center">
  <%= image_tag ("logos/logo.png") %>
  </h1>
  <p align="center">Where the punches stop, and the kicks start</p>
</head>


<table>
  <thead>
  <tr>
    <th>Options</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to 'User', users_path %></td>
    </tr>
  </tbody>
</table>