<h1>PunchStopper</h1>
<p>Where the punches stop, and the kicks start</p>

<table>
  <thead>
  <tr>
    <th>Options</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= link_to 'User', users_path %></td>
    </tr>
  </tbody>
</table>