<div class="project_item">
<h1>Editing Project Medium</h1>

<%= render 'form', project_medium: @project_medium %>

<%= link_to 'Show', @project_medium %> |
<%= link_to 'Back', project_media_path %>
</div>